@import url('https://fonts.googleapis.com/css2?family=Cookie&family=Edu+NSW+ACT+Foundation&family=Marck+Script&family=Poppins&family=Sacramento&family=Tangerine:wght@700&display=swap');



body {
    font-family: 'Marck Script', cursive;
    margin: 0;

}

h3 {
    font-weight: 700px;
}

h1 {
    font-size: 50px;
    /* font-weight: bolder; */
}

.Orange-colour {
    color: orange;
}

section {
    display: flex;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-right: 15%;
}

.img {
    width: 80%;
}

.link-button {
    text-decoration: none;
    color: white;
    font-weight: 700;
    background-image: linear-gradient(Orange, tomato);
    padding: 10px 20px;
    border-radius: 5px;

}

.top-banner {
    background-image: url(developer-portfolio/top-banner.png);
    background-repeat: no-repeat;
}

/* part-2 */

.DOWNLODE-RESUME {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 30px;
    border-radius: 5px;
}

.img-2 {
    width: 70%;
    padding-left: 5%;
    padding-right: 15%;
}

.half-width-2 {
    width: 40%;
}

.Dream-Big {
    margin-top: 10%;
    background-image: url(./developer-portfolio/dream-bg.png);
    background-repeat: no-repeat ;
    background-position: right;
}